{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="row" id="ws-content-receiver">
                Connecting...
            </div>
            <div class="row">
                <input type="text" id="send_text" style="width: 1200px" /><button id="send">Send</button>
            </div>
            <div class="row">
                <textarea id="receive" style="width: 100%; height: 400px;"></textarea>
            </div>
            <div class="row">
                <strong>COMMANDES</strong><br />
                {"meeting":{"id":"XXXXXXXXX"},"event":"REQUEST_JOIN","user":{"id":"54F12","type":"learner","name":"Psio","avatar":"https://....."}}<br />
                {"meeting":{"id":"XXXXXXXXX","current_slide":{"id":"YYYYYYYYY"}},"event":"REQUEST_SLIDE"}
            </div>

            <div class="row"><strong>&nbsp;</strong></div>

            <div class="row">
                {{ form_start(form) }}

                {{ form_row(form.ppt) }}

                <button type="submit">Send !</button>
                {{ form_end(form) }}
            </div>

            <div class="row"><strong>&nbsp;</strong></div>


            <div class="row"><strong>DERNIERES PRESENTATIONS</strong></div>

            {% for meeting in meetings %}
            <div class="row">
                <div class="col">{{ meeting.id }} : <a href="//aym.arbey.fr/meeting?mid={{ meeting.id }}&type=trainer">{{ meeting.title }} (TRAINER)</a> - = - <a href="//aym.arbey.fr/meeting?mid={{ meeting.id }}&type=learner">{{ meeting.title }} (LEARNER)</a></div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var ws = null;

    function connectWebSocket() {
        console.log('Connect to {{ ws_url }}');
        ws = new WebSocket('wss://{{ ws_url }}');
        var _receiver = document.getElementById('ws-content-receiver');
        ws.onopen = function () {
            _receiver.innerHTML = 'Connected !';
        };
        ws.onmessage = function (event) {
            try {
                var server_message = JSON.parse(event.data);
                console.log('WsMessage', server_message);
                $('#receive').append((new Date()).toLocaleTimeString() + " : " + event.data + "\n");
            } catch (error) {
                console.log(error);
                $('#receive').append(error);
            }

            var textarea = document.getElementById('receive');
            textarea.scrollTop = textarea.scrollHeight;
        };
        ws.onclose = function () {
            console.log('OnClose');
            setTimeout(connectWebSocket, 2000);
        };
        ws.onerror = function () {
        };
    }
    $('#send').click(function() {
        console.log($('#send_text').val());
        ws.send($('#send_text').val());
    });

    (function () {
        connectWebSocket();
    })();
</script>
{% endblock %}
